<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="listProduct.html::header_session">
</head>
<body>
<div class="container">
    <h1>INSERT Product</h1>
    <h3 class="text-danger" th:text="${error}"></h3>

    <form th:object="${s}" th:action="@{/editProduct}" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <input type="hidden" th:field="*{id}">
            <tr>
                <td>Name: </td>
                <td><input th:field="*{name}"/>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td><input th:field="*{price}"/>
                    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></div></td>
            </tr>
            <tr>
                <td>Stock: </td>
                <td><input th:field="*{stock}"/>
                    <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="text-danger"></div></td>
            </tr>
            <tr>
                <td>Created day: </td>
                <td><input type="date" th:field="*{created}"/>
                    <div th:if="${#fields.hasErrors('created')}" th:errors="*{created}" class="text-danger"></div></td>
            </tr>
            <tr>
                <td>Image: </td>
                <td>
                    <input type="file" name="imageFile"/>
                </td>
            </tr>
            <tr>
                <td>status: </td>
                <td><input type="radio" th:field="*{status}" value="true"/>Active
                    <input type="radio" th:field="*{status}" value="false"/>Inactive
                    <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger"></div></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Insert"/>
                    <input type="reset" value="Clear"/>
                </td>
            </tr>
        </table>
    </form>
    <a th:href="@{/listProduct}">Back</a>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>